<section id="home">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />

<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <fa class="navbar-toggle-icon"name="fas fa-bars"></fa>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#myCarousel">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"> <a class="nav-link" href="#services">Services</a> </li>
      <li class="nav-item"> <a class="nav-link" href="#gallery">Gallery</a> </li>
      <li class="nav-item"> <a class="nav-link" href="#contactus">contact us</a> </li>
    </ul>
  </div>
</nav>




<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/images/slider-image-1.jpg" alt="First slide">
      <div class="carousel-caption">
        <p class="caption-header-white display-4">Doorstep</p>
        <p class="caption-header-red display-4">service</p>
        <p class="caption-sub-header">You sit back and relax while we work for you!</p>

      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/images/slider-image-2.jpg" alt="Second slide">
      <div class="carousel-caption">
        <p class="caption-header-white display-4">Don't let</p>
        <p class="caption-header-red display-4">dirt stay</p>
        <p class="caption-sub-header">Quick car wash starting at Rs. 300/- only*</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/images/slider-image-3.jpg" alt="Third slide">
      <div class="carousel-caption">
        <p class="caption-header-white display-4">make your</p>
        <p class="caption-header-red display-4">car shine</p>
        <p class="caption-sub-header">Polish Serice starting at Rs.400/- only*</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/images/slider-image-4.jpg" alt="Fourth slide">
      <div class="carousel-caption">
        <p class="caption-header-white display-4">car</p>
        <p class="caption-header-red display-4">sanitizing</p>
        <p class="caption-sub-header">Get rid of germs and viruses at Rs. 150/- only*</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/images/slider-image-5.jpg" alt="Fifth slide">
    </div>
  </div>
</div>
</section>
<section id="services">
  <div class="service-type-container">
    <div class="service-type">
      <img src="assets/images/doorstep-1.png" class="service-images img-fluid">
      <p class="image-title">DOORSTEP <br /> SERVICE</p>
    </div>
    <div class="service-type">
      <img src="assets/images/user-1.png" class="service-images img-fluid">
      <p class="image-title">TRAINED <br />PROFESSIONALS</p>
    </div>
    <div class="service-type">
      <img src="assets/images/glass-cleaning-1.png" class="service-images img-fluid">
      <p class="image-title">QUALITY <br />PRODUCTS USED</p>
    </div>
    <div class="service-type">
      <img src="assets/images/bank-1.png" class="service-images img-fluid">
      <p class="image-title">ONLINE <br />PAYMENTS</p>
    </div>
  </div>
  <div class="plan-selection">
    <div class="header">CHOOSE YOUR PLAN</div>
    <p class="sub-header">Pick a program that best fits your budget and goals.</p>
  </div>
  <div class="row circle-container">
    <div class="circle">
      Avail flat 10% off on your first booking
    </div>
    <div class="circle">
      Save Rs. 100 on monthly plan
    </div>
    <div class="circle">
      Book for Polish & get exterior wash free
    </div>
  </div>
</section>
<section class="services-section">

  <p class="services-heading">WHAT WE DO</p>
  <div class="services-image-container">
    <div>
      <img src="assets/images/1.png" class=" img-fluid">
    </div>
    <div>
      <h2 class="sub-section-heading">EXTERIOR WASHING</h2>
      <p class="para">Our exterior detailing involves many steps to make your car
        look great like Dry Wash; Shampoo Wash; Contact-less Wash; Removal of Tar,
        Salt mark, Watermark, etc.; Rubbing, etc.</p>
    </div>
    <div>
      <img src="assets/images/detailing.png" class=" img-fluid">
    </div>
    <div>
      <h2 class="sub-section-heading">INTERIOR CLEANING</h2>
      <p class="para">All spills, stains, crumbs, odors, burns and scratches
        will no doubt lead to decreasing your car’s value over time. Not to
        mention, how unappealing a dirty interior is to any passenger.
        <li>Cleaning of Roof, floor, AC vents, Seats, and Boot.</li>
        <li>Shampooing and washing of foot mats.</li>
        <li>Cleaning of Dashboard, Door, Gear Box and other Vinyl Surfaces.</li>
      </p>
    </div>
    <div>
      <img src="assets/images/interior.png" class=" img-fluid">
    </div>
    <div>
      <h2 class="sub-section-heading">VACUUM CLEANING</h2>
      <p class="para">There are millions of dirt, dust or debris inside the vehicle;
        however, during vacuuming, it removes every piece of dirt, dust, germs.
        <li>Vacuuming of floors & floor mats to extract loose dust.</li>
        <li>Run the vacuum along the seats and seat backs to eliminate trapped dust, hair, and other debris.</li>
        <li>Trunk, Dashboard, Displays & other areas.</li>
      </p>
    </div>
    <div>
      <img src="assets/images/polish.png" class=" img-fluid">
    </div>
    <div>
      <h2 class="sub-section-heading">POLISH & SHINE</h2>
      <p class="para">After a great cleaning and washing of your car, its required to polish,
        buff and wax your car correctly for a super shine gloss.
        <li>Full Car Machine Polish both exterior & interior.</li>
        <li>Wax treatment to get rid of scratches, dullness and other imperfections by bringing back the original glossy
          surface thereby protecting your vehicle’s paint from peeling or fading.</li>
      </p>
    </div>
    <div>
      <img src="assets/images/cleaning.png" class=" img-fluid">
    </div>
    <div>
      <h2 class="sub-section-heading">TYRES & WHEELS</h2>
      <p class="para">Tyres & wheels can really make or break the
        look of a car, so it’s important to keep them clean. Our service includes:
        <li>Rinse the wheel and wheel wells with the pressure water.</li>
        <li>Remove brake dust, road tar, grease and grime.</li>
        <li>Scrub and brush to remove hard dirt.</li>
        <li>Cleans tough scuffs and soil from tire sidewalls.</li>
        <li>Tyre Dressing to give a rich look.</li>
      </p>
    </div>
    <div>
      <img src="assets/images/sanitize.png" class=" img-fluid">
    </div>
    <div>
      <h2 class="sub-section-heading">SANITIZING</h2>
      <p class="para">In just the last few weeks, the COVID-19 pandemic
        has begun to have an effect on everyone thereby it’s important to sanitize your car on daily basis to get rid of
        germs and viruses that can follow you back into your car/bike.
        <li>Run the vacuum along the seats and seat backs to eliminate trapped dust, hair, and other
          debris.<br /><br />We help you with sanitizing and disinfecting the ” high touch ” areas of your vehicle.
      </p>
    </div>
    <div>
      <img src="assets/images/bike.png" class=" img-fluid">
    </div>
    <div>
      <h2 class="sub-section-heading">BIKE WASH & POLISH</h2>
      <p class="para">We also provide all types of motorbike & scooter
        washing/ polishing service at your doorstep at affordable prices.</p>
    </div>
    <div>
      <img src="assets/images/bike-polish.png" class=" img-fluid">
    </div>
  </div>
</section>
<section id="gallery" class="gallery-section">
  <p class="gallery-heading"><strong>GALLERY</strong></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
          <!-- slides -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/image-1.png" alt="Image 1">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-2.png" alt="Image 2">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-3.jpg" alt="Image 3">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-4.jpg" alt="Image 4">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-5.png" alt="Image 5">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-6.jpg" alt="Image 6">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-7.jpg" alt="Image 7">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-8.jpg" alt="Image 8">
            </div>
            <div class="carousel-item">
              <img src="assets/images/image-9.jpg" alt="Image 9">
            </div>
          </div>
          <!-- Left right -->
          <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span
              class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel"
            data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
          <ol class="carousel-indicators list-inline">
            <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0"
                data-target="#custCarousel"> <img src="assets/images/image-1.png" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                <img src="assets/images/image-2.png" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                <img src="assets/images/image-3.jpg" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-3" data-slide-to="3" data-target="#custCarousel">
                <img src="assets/images/image-4.jpg" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-4" data-slide-to="4" data-target="#custCarousel">
                <img src="assets/images/image-5.png" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-5" data-slide-to="5" data-target="#custCarousel">
                <img src="assets/images/image-6.jpg" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-6" data-slide-to="6" data-target="#custCarousel">
                <img src="assets/images/image-7.jpg" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-7" data-slide-to="7" data-target="#custCarousel">
                <img src="assets/images/image-8.jpg" class="img-fluid"> </a> </li>
            <li class="list-inline-item"> <a id="carousel-selector-8" data-slide-to="8" data-target="#custCarousel">
                <img src="assets/images/image-9.jpg" class="img-fluid"> </a> </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials">
  <div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/assets/images/testimonials.png" alt="First slide">
          <div class="carousel-caption">
            <p class="caption-header-red">
              <fa name="fas fa-quote-left"></fa>
            </p>
            <p class="caption-sub-header">They are very professional.
              They are on time and does an excellent job at the comfort of your home.
              The prices are very reasonable considering the quality of service.
            </p>

            <div class="testimonial-name">Radhika Dhanuka</div>
            <div class="testimonial-job">Ceo &amp; Founder - Rd Creativity</div>

          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/images/testimonials.png" alt="Second slide">
          <div class="carousel-caption">
            <p class="caption-header-red">
              <fa name="fas fa-quote-left"></fa>
            </p>
            <p class="caption-sub-header">Very prompt and timely service.
              Job well done. Looking forward to book washes on weekly basis.
              They ensured that the work was done perfectly.
            </p>

            <div class="testimonial-name">Prakash Sharma</div>
            <div class="testimonial-job">Head Of Sales - NA SIGNS pvt. ltd.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-us-section" id="contactus">
  <div class="row">
    <div class="col-sm-6">
      <img class="img-fluid" src="assets/images/washer.png">
    </div>
    <div class="col-sm-6">
      <p class="para1">Bring back your car gleaming like new!</p>
      <button class="btn btn-danger book-now-button" (click)="show()">Book Now</button>
    </div>
  </div>
</section>
<section class="footer-section">
  <footer>
    <div>
      <img src="assets/images/logo.png" style="display:block; margin-left: auto;
        margin-right: auto " width="12%" height="12%">
    </div>
    <p class="footer-para">We know the best ways to give your car the showroom makeover it richly deserves. Complete
      professional interior & exterior car wash at your doorstep.</p>
    <p class="footer-para">We use vehicles every day for communication, travel and for every important thing in our day
      to day life. However, maintaining it is always a concern.
    <p class="footer-para">Thus, using state of the art technology, CARTUB
      undertakes car & bike wash at your doorstep. We know how much you value your vehicle.</p> 
   <p class="footer-para">We match your expectations
      at affordable prices when you leave your vehicle under our care.</p>
   <p class="footer-para">We restore the originality of your car or bike by
      keeping no stoned untouched to make your ride shine like new..</p>
    <p class="footer-para">The process is very easy as it needs you to make a call or do an online appointment and get
      the doorstep service.</p>
  </footer>
</section>
<section class="summary-section">
  <div class="summary-container">
    <div class="summary-item">
      <p class="summary-title">CONTACT US</p>
      <ul style="list-style-type:none;">
        <li>contact@cartub.in</li>
        <li>cartub.india@gmail.com</li>
        <li>+91 98747 86866</li>
        <li>+91 98747 86867</li>
      </ul>
    </div>
    <div class="summary-item">
      <p class="summary-title">IMPORTANT LINKS</p>
        <ul style="list-style-type:none;">
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contactus">Contact Us</a></li>
        </ul>
    </div>
    <div class="summary-item">
      <p class="summary-title">WORKING HOURS</p>
      <ul style="list-style-type:none;">
        <li><strong>Monday-Saturday:</strong></li>
        <li>7:00 am to 8:00 pm</li>
        <li><strong>Sunday:</strong></li>
        <li>7:00 am to 6:00 pm</li>
      </ul>
    </div>
    <div class="summary-item">
      <p class="summary-title">PAYMENTS ACCEPTED</p>
      <ul style="list-style-type:none;">
        <li>
          <img src="assets/images/paytm.png" class="img-fluid footer-images">
          <img src="assets/images/google-pay.png" class="img-fluid footer-images">
          <img src="assets/images/phonepe.png" class="img-fluid footer-images">
        </li>
        <li>        
          <img src="assets/images/visa.png" class="img-fluid footer-images">
          <img src="assets/images/mastercard.png" class="img-fluid footer-images">
        </li>
      </ul>

    <div class="summary-item">
      <p class="summary-title">CONNECT WITH US</p>
      <ul style="list-style-type:none;">
        <li>
          <a href="https://www.facebook.com/cartubindia" target="_blank"><img src="assets/images/fb.png" class="img-fluid footer-images"></a>
          <a href="https://www.instagram.com/cartubindia/" target="_blank"><img src="assets/images/instagram.png" class="img-fluid footer-images"></a>
        </li>
      </ul>     
    </div>
    </div>
  </div>
</section>
<div class="end-footer">
    © {{year}} Cartub. All Rights Reserved. Designed by <a href="https://www.facebook.com/radhikadhanukacreativity/" target="_blank">Rd Creativity.</a>
</div>
<a  class="whats-app" href="https://api.whatsapp.com/send?phone=919874786866" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="background-color: black;">
      <h4 class="modal-title" id="myModalLabel" style="color:white">Contact Us</h4>
    </div>
    <div class="modal-body">
              <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                       <div class="col-sm-8">
                          <div class="form-group">
                                <label class="modal-label">Name</label>
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                      <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                             </div>
                       </div> 
                       <div class="col-sm-8">
                          <div class="form-group">
                             <label class="modal-label">Email</label>
                             <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                             <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                             </div>
                          </div>
                       </div>
                       <div class="col-sm-8">
                             <div class="form-group">
                                <label class="modal-label">Message</label>
                                <textarea formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                  <div *ngIf="f.message.errors.required">Message is required</div>
                                </div>
                             </div>
                          </div>
           </div>
           <div class="col-sm-8" style="text-align:center;padding:10px">
            <button type="submit" class="btn btn-info">Submit</button>
           </div>

          </form>
   
  
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Close</button>    
    </div>
  </div>
</div>
</div>