$active-orange:#F44336;
$title-font:"Raleway-Bold",sans-serif;

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 453px;
$heading-font-size:4rem;
$heading-font-weight:600;

html{
    font-size:62.5%
}

img{
&.w-100 {
    max-height: 100vh !important;
    max-width:100% !important;
  }
}



nav{
    @media(min-width:$tablet-width){
    right:10px;
    top:70px;
    max-height:100px;
    }
    @media(max-width:$tablet-width){
        right:10px;
        top:10px;
        max-height:100px;
    }
    position:absolute;
    z-index:10;
    li {
        margin-left: 8px;
        margin-right: 8px;
    
        // &.active{
        //     background: $active-orange !important;
        // }
        &:hover{
            background: $active-orange;
        }
        &>a{
        color:white;
        text-transform: uppercase;
        font-weight:600;
        @media(min-width:$tablet-width){
            margin: 4px;
            padding: 10px;
            font-size: 1.2rem;
        }

        @media(max-width:$mobile-width){
            padding-left:1rem;
            font-size: .8rem;
        }
        }
        
    }

    .navbar-toggle-icon{
        color:white;
    }
}
@media(max-width:$mobile-width){
    #carouselExampleIndicators .carousel-caption{
        display:none;
    }
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    &.active{
        background-color: $active-orange;
    }
  }

.carousel-caption{
        
        text-align: center;
        padding-top:0px;
        bottom:80px;
        max-width: 350px;
        left:14%;
        .caption-header-red{
            font-weight:500 !important;
            color:$active-orange;
            text-transform: uppercase;
        }

        .caption-header-white{
            font-weight:500 !important;
            color:white;
            text-transform: uppercase;
        }

        .caption-sub-header{
            color:white;
        }
}
.services-heading,.testimonial-heading{
    font-family: "Raleway-Bold", sans-serif;    
    font-weight: $heading-font-weight;
    text-align: center;
    font-size: $heading-font-size;
    color:white
  }

  .services-heading{
      @media(min-width:$tablet-width){
        padding:37px 0;
      }
      @media(max-width:$tablet-width){
        padding: 0 15px;
    }
  }
  .gallery-heading{
    font-family: $title-font;
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    color:black;
    margin-top:38px;
  }
  .sub-section-heading{
    color:#d9322a;
    font-family: "Raleway", Sans-serif;
    font-weight: bolder;
    text-align: center;


    @media (max-width:$tablet-width){
        padding-top:15px;
    }

    @media(min-width:$tablet-width){
        padding-top:30px;
    }
  }
  .para{
    color:white;
    font-family: "Roboto", Sans-serif;
    font-size:12px;
    text-align:left;
    padding-bottom: 1rem;
    

    @media (max-width:$mobile-width){
        line-height: 1.2;
        margin: 10px 0 15px 0;
    }

     @media(min-width:$mobile-width) and (max-width:$tablet-width){
        line-height: 1.2;
    }

    @media(min-width:$tablet-width){
        line-height: 1.6;
        margin: 20px 20px 0 20px;
    }
  }
  .para1{
    font-family: "Raleway";
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    color:black
  }
//   .images{
//     width:100%;
//     height:auto
//   }
  .services-section,.footer-section,.end-section{
    background-color: black;
    font-family: "Raleway", Sans-serif;
  }

  .services-image-container{
    display: grid;
    @media(max-width:$mobile-width){
        padding: 0 30px 30px 30px;
    }


    @media(min-width:$tablet-width){
        grid-template-columns: repeat(3,1fr);
        padding: 0 60px 60px 60px;
        .img-fluid{
            min-width: 100%;
            min-height:100%;
        }
    }
  }
  .row{
    margin-left:40px;
    margin-right:40px;
  }

  .container {
    margin-top: 100px;
    margin-bottom: 100px
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    min-height:85vh;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {    
        width:50px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 80%
}
 .book-now-button{
  border-radius:20px;
  margin-top: 20px;
  margin: 0 auto;
  display: block;
 }
 .service-images{
     height:auto;   
     width:40%;
     padding:40px 0;
     transition: 0.3s;
 }
 .service-images:hover{
  transform: translate(0, -20px);
 }
 .image-title{
    font-family: "Raleway-Bold",sans-serif;
    font-weight: 600;   
    color:black;
    text-align: center;

    @media(max-width:$mobile-width){
        font-size: .6rem;
    }

    @media(min-width:$mobile-width) and (max-width:$tablet-width){
        font-size: .8rem;
    }

    @media(min-width:$desktop-width){
        font-size: 1.5rem;
    }
 }
 .circle{
    @media (max-width:$mobile-width){
        width: 200px;
        height:200px;
        line-height: 200px;
        font-size: 10px;
    }

     @media(min-width:$mobile-width) and (max-width:$tablet-width){
        width: 220px;
        height:220px;
        line-height: 220px;
        font-size: 11px;
    }

    @media(min-width:$tablet-width) and (max-width:$desktop-width){
        width: 220px;
        height:220px;
        line-height: 220px;
        font-size: 11px;
    }

    @media(min-width:$desktop-width){
        width: 250px;
        height:250px;
        line-height: 250px;
        font-size: 14px;
    }

    border-radius: 50%;
    color:#fff;
    text-align: center;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    background-color:#D9322A;
    float:left;
}

 .circle-container{
     justify-content: space-around;
     margin-bottom:20px;
 }

.service-type-container{
    display:flex;
    justify-content: space-around;
}

.service-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:22rem;
}

//style="text-align:center;padding:40px"

.plan-selection{
    margin: 70px 0 70px 0;
    .header{
        font-family: $title-font;
        font-weight:900;
        font-size:45px;
        text-align:center;
    }
    .sub-header{
        text-align:center;
    }
}

section.gallery-section{
    .container{
        margin-top:50px;
        margin-bottom:70px;
    }
}
.footer-para{
    color:white;
    font-family: "Roboto", Sans-serif;
    margin:20px;
    font-size:15px;
    text-align:center;
    line-height:2em;

 }

 #testimonials{
     margin-bottom: 32px;
     .caption-sub-header{
         text-align:left;
         @media (max-width:$mobile-width){
            line-height: 1.2;
            font-size:0.8rem
        }

         @media(min-width:$mobile-width) and (max-width:$tablet-width){
            line-height: 1.4;
            font-size:1rem
        }
    
        @media(min-width:$tablet-width) and (max-width:$desktop-width){
            line-height: 1.2;
        }

        @media(min-width:$desktop-width){
            line-height: 1.6;
        }
     }
     .testimonial-name{
        text-align:left;
        color:$active-orange;
        font:$title-font;
        
        @media(min-width:$mobile-width) and (max-width:$tablet-width){
            font-size: 1rem;
        }
    
        @media(min-width:$tablet-width) and (max-width:$desktop-width){
            font-size: 1.2rem;
        }

        @media(min-width:$desktop-width) {
            font-size: 1.6rem;
        }

        font-weight: 600;
     }
     .testimonial-job{
        text-align:left;
    }

    .carousel-caption{
        bottom:25%;
    
        @media(min-width:$desktop-width) {
            left:40%;
        }
    }

    .carousel-inner img {
        width: 100%;
        height: 50%
    }
    
 }
 .whats-app {
    position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;    
}

.my-float {
    margin-top: 10px;
}
.end-footer{
    color:white;
    font-family: "Roboto", Sans-serif;
    text-align: center;
    background-color: black;    
}
.summary-container{
    display:flex;
    @media(max-width:$mobile-width){
        flex-direction: column;
    }

    justify-content: space-around;
}

.summary-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:auto;
}
.summary-title{
    font-family: "Raleway-Bold",sans-serif;
    font-weight: 600;   
    color:black;
    text-align: center;

    @media(max-width:$mobile-width){
        font-size: .8rem;
    }

    @media(min-width:$mobile-width) and (max-width:$tablet-width){
        font-size: .8rem;
    }

    @media(min-width:$desktop-width){
        font-size: 1rem;
    }
 }
 .footer-images{
     padding-left:10px;
     padding-right:10px;
 }
 .modal-label{
    font-family: "Raleway-Bold",sans-serif;
    font-weight: 600;   
    color:black;
    text-align: center;
 }